//background  appli
ion-content {
  background:#E8BC2C;
}

//Sphère//

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(
    circle at 50% 120%,
    #E8BC2C,
    rgb(185, 153, 45) 10%,
    rgb(253, 194, 0) 80%,
    rgb(192, 147, 0) 100%
  );
margin-left: 85px;
}
.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 0px,
    #E8BC2C,
    rgba(15, 8, 71, 0) 58%
  );
  -webkit-filter: blur(5px);
  z-index: 2;

}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  -webkit-transform: rotateX(90deg) translateZ(-150px);
  -moz-transform: rotateX(90deg) translateZ(-150px);
  -ms-transform: rotateX(90deg) translateZ(-150px);
  -o-transform: rotateX(90deg) translateZ(-150px);
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;

}
.stage {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin: 0 auto;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;

}

// Donnée dans Sphère//
.text {
  font-size: 0.8rem;
  color: rgb(73, 69, 69);

  &_number {
    font-size: 3rem;
    font-weight: bolder;
    color: black;
  }

}
.arround {
  position: relative;
}

.title {
  position: absolute;
  z-index: 9999;
  color: black;
  width: 100%;
  text-align: center;
}

.haut {
  top: 25%;
}

.bas {
  bottom: 20%;
}


.wrap3 {
  margin-left: -2%;
 
}


.num {
  font-size: 1rem;
}

// icon donnée
.itemo
{
  margin-top: 40px;
}
.icon {
    display: block;
    margin-left: auto;
    margin-right: auto
 }

 .titlo{
   color: black;
   font-size: 0.8rem;
 font-weight: 500;
 }


  ion-slides {
      height: 100%;
    }

    .swiper-slide {
      display: block;
    }

    .swiper-slide h2 {
      margin-top: 2.8rem;
    }

    .swiper-slide img {
      max-height: 50%;
      max-width: 80%;
      margin: 60px 0 40px;
      pointer-events: none;
    }

  