<!-- Header -->
<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Statistiques
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color=" ">
  <div class="wrap">
    <div class="arround">
      <h2 class="title bas ">
       PAS
      </h2>
      <h2 class="title haut  text_number">1265</h2>
      <section class="stage">
        <figure class="ball"><span class="shadow"></span></figure>
      </section>
    </div>
  </div>
  <ion-grid class="itemo">
    <ion-row>
      <ion-col>
        <div>
          <ion-icon
            src="./assets/icon/location.svg"
            size="large"
            class="icon"
          ></ion-icon>
          <p class="text" text-center class="titlo">
            Distance <br />
            <span class="text_number num">8,92km</span>
          </p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-icon
            src="./assets/icon/gym.svg"
            size="large"
            class="icon"
          ></ion-icon>
          <p class="text" text-center class="titlo">
            Durée totale : <br />
            <span class="text_number num">153 kcal</span>
          </p>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <ion-icon
            src="./assets/icon/time.svg"
            size="large"
            class="icon"
          ></ion-icon>
          <p class="text" text-center class="titlo">
            Temps de marche<br />
            <span class="text_number num">8,92 heure</span>
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="ion-padding">
    <ion-card color="light" (click)="presentModal()">
      <ion-card-header text-center>
        Statistique de la semaine
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-header text-center>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
              
            

</ion-content>
