.login-page {

  &_img {
    margin-top: 2rem;
  }
}

.form {

  &_input {
    color: black;
    margin-left: 1rem;
  }

  &_input:focus {
    border-bottom: 1px solid red;
  }
}


.signup-col {

  a {
    color: black;
  }
  p {
    font-size: .8rem;
  }

  &_btn {
    text-transform: uppercase;
    font-size: .8rem;

  }
}

