<ion-header>
  <ion-toolbar>
    <ion-title>
      Test Arthur
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  CECI EST UN TEST
  <ion-item>
    <ion-label>X orientation</ion-label>
    <ion-input type="text" [(ngModel)]="xOrient"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Y orientation</ion-label>
    <ion-input type="text" [(ngModel)]="yOrient"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Z orientation</ion-label>
    <ion-input type="text" [(ngModel)]="zOrient"></ion-input>
  </ion-item>

  <ion-button (click)="getgyro()">watch</ion-button >

  <ion-item>
    <ion-label>Acceleration X</ion-label>
    <ion-input type="text" [(ngModel)]="accX"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Acceleration Y</ion-label>
    <ion-input type="text" [(ngModel)]="accY"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Acceleration Z</ion-label>
    <ion-input type="text" [(ngModel)]="accZ"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Acceleration Z</ion-label>
    <ion-input type="text" [(ngModel)]="i"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Acceleration Z</ion-label>
    <ion-input type="text" [(ngModel)]="arrayA[0][0]"></ion-input>
  </ion-item>
  <ion-button (click)="Accelerometer()">click</ion-button >


  <ion-button (click)="ok()">click</ion-button >

</ion-content>
