<ion-header>
  <ion-toolbar>
    <ion-title>signUp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin-top ion-padding-top ion-text-center">
  <img src="./assets/icon/logo-pastrack.svg" alt="Logo" width="100" height="100" class="login-page login-page_img">
    <form class="text-center" [formGroup]="register">
      <ion-row>
        <ion-col>
          <ion-list class="form" inset>
            <ion-item>
              <ion-input
                      type="text"
                      name="email"
                      id="email"
                      formControlName="email"
                      class="form form_input"
                      color="dark"
                      placeholder="Email"
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                      name="password"
                      id="password"
                      formControlName="password"
                      type="password"
                      color="dark"
                      class="form form_input"
                      placeholder="Mot de passe"
                      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              >
              </ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="sign-up-col">
          <ion-button
                  expand="full"
                  [disabled]="loading"
                  shape="round"
                  class="signup-col signup-col_btn"
                  (click)="signup()"
                  color="warning"
          >
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Inscription
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
</ion-content>
