<ion-header>
  <ion-toolbar>
    <ion-title text-center>Informations</ion-title>
    <ion-buttons slot="primary" (click)="dismiss()">
      <ion-button fill="solid" color="secondary">
        Retour
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color=" ">

  <ion-card color="warning">
    <ion-card-header text-center>
     <h4 class="blackpower">Rapport Journalier</h4>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/footstep.svg" size="large"></ion-icon>
              <p>Pas</p>
              <p>3500</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/gym.svg" size="large"></ion-icon>
              <p>Calories</p>
              <p>1000 </p>
            </div>
          </ion-col>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/location.svg" size="large"></ion-icon>
              <p>Distance</p>
              <p>8km</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/time.svg" size="large"></ion-icon>
              <p>Temps</p>
              <p>1h</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <ion-card color="warning">
    <ion-card-header text-center>
      <h4 class="blackpower">Rapport Hebdomadaire </h4>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
           <div class="blackpower">
              <ion-icon src="./assets/icon/footstep.svg" size="large"></ion-icon>
              <p>Pas</p>
              <p>15000</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/gym.svg" size="large"></ion-icon>
              <p>Calories</p>
              <p>5000 </p>
            </div>
          </ion-col>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/location.svg" size="large"></ion-icon>
              <p>Distance</p>
              <p>20 km</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/time.svg" size="large"></ion-icon>
              <p>Temps</p>
              <p>5h</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  
  <ion-card color="warning">
    <ion-card-header text-center>
      <h4 class="blackpower"> Rapport Mensuel</h4>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/footstep.svg" size="large"></ion-icon>
              <p>Pas</p>
              <p>60000</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/gym.svg" size="large"></ion-icon>
              <p>Calories</p>
              <p>6000 </p>
            </div>
          </ion-col>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/location.svg" size="large"></ion-icon>
              <p>Distance</p>
              <p>40 km</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/time.svg" size="large"></ion-icon>
              <p>Temps</p>
              <p>10h</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card color="warning">
    <ion-card-header text-center>
      <h4 class="blackpower">Rapport Annuel</h4> 
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/footstep.svg" size="large"></ion-icon>
              <p>Pas</p>
              <p>170 000</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/gym.svg" size="large"></ion-icon>
              <p>Calories</p>
              <p>30000 </p>
            </div>
          </ion-col>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/location.svg" size="large"></ion-icon>
              <p>Distance</p>
              <p>100km</p>
            </div>
          </ion-col>
          <ion-col>
            <div class="blackpower">
              <ion-icon src="./assets/icon/time.svg" size="large"></ion-icon>
              <p>Temps</p>
              <p>30min</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
